/* main.component.sass */
.main-container
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0

.main-container-dark
  background-color: #0f172a

.boid-container
  position: absolute
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  z-index: 5

.quadtree-container
  position: absolute
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  z-index: 0
  user-select: none

.quadtree-container-dark
  background-color: #0f172a

.quadtree-dark
  color: #223044
  border: 1px solid #223044

.quadtree-light
  color: #EEEEEE
  border: 1px solid lightgrey

.quadtree
  position: absolute
  margin: 0px
  font-family: Monaco, monospace
  text-align: center
  
.quadtree .boid-count
  position: relative
  top: 50%
  left: 50%
  font-family: Monaco, monospace
  transform: translate(-50%, -50%)

.display-container
  position: relative
  top: 10px
  left: 30px
  font-family: Monaco, monospace
  user-select: none
  height: fit-content
  width: fit-content
  padding-bottom: 20px

.status-container
  margin-bottom: 10px

.form-container
  opacity: 0.3
  transition: opacity 0.3s ease

  &:hover
    opacity: 1

.form-container a
  font-weight: bold

.hidden-options-light
  margin-bottom: 20px

.hidden-options-dark
  margin-bottom: 20px
  color: white

.boid-display-dark
  color: lightblue
  font-size: 16px
  font-family: Monaco, monospace

.boid-display-light
  color: blue
  font-size: 16px
  font-family: Monaco, monospace

.predator-display-dark
  color: pink
  font-size: 16px

.predator-display-light
  color: red
  font-size: 16px

.fps-display-dark
  color: lightgreen
  font-size: 16px

.fps-display-light
  color: green
  font-size: 16px

.slider-p
  height: 15px

.option
  margin-top: 27px
  margin-bottom: 1px
  height: 15px
  z-index: 10

.boids-options-dark
  color: lightblue

.boids-options-light
  color: darkblue

.predators-options-dark
  color: pink

.predators-options-light
  color: darkred

.display-options-light
  color: darkgreen

.display-options-dark
  color: lightgreen

.display-options
  margin: 0
  padding: 0

.simulation-blue-dark
  color: lightblue

.simulation-red-dark
  color: pink

.simulation-blue-light
  color: darkblue

.simulation-red-light
  color: darkred
