<div class="main-container">
    <div class="boid-container">
        <app-boid *ngFor="let boid of boids.concat(predators)"
            [position]="boid.position"
            [velocity]="boid.velocity"
            [isPredator]="boid.isPredator"
            [isDead]="boid.isDead"
            [isEvolved]="boid.isEvolved"
            [alpha]="boid.alpha"
        ></app-boid>
    </div>
    <div class="quadtree-container" *ngIf="drawQuadtree">
        <div *ngFor="let quadtree of finalQuadtreeList" class="quadtree"
            [style.left.px]="quadtree.x"
            [style.top.px]="quadtree.y"
            [style.width.px]="quadtree.width"
            [style.height.px]="quadtree.height"
            [style.font-size.px]="quadtree.height/1.5"
        >
            <div class="boid-count" *ngIf="displayQuadtreeCount">{{ quadtree.entities.length }}</div>
        </div>
    </div>
</div>

<div class="display-container">

    <div class="status-container">
        <p class="boid-display" *ngIf="displayBoidCount">Total Boids: {{ totalBoids }}</p>
        <p class="predator-display" *ngIf="displayBoidCount">Total Predators: {{ totalPredators }}</p>
        <p class="fps-display" *ngIf="displayFPSCount">FPS: {{ fps }}</p>
        <p class="fps-display">{{ errorMessage }}</p>
    </div>

    <div class="form-container" (click)="handleFormClick($event)">
        <form>
            <div class="hidden-options">
                Click to add a
                <label>
                    <input type="radio" [(ngModel)]="addOnClick" value="predator" name="addOnClick"> Predator
                </label>
                <label>
                    <input type="radio" [(ngModel)]="addOnClick" value="boid" name="addOnClick"> Boid
                </label>
                <br />
                <p class="display-options" *ngIf="!boidOptionsVisible && !predatorOptionsVisible">
                    -> <a (click)="toggleOptions('Display')" id="toggleDisplayOptionsButton">Show Display Options</a>
                </p>
                <p class="display-options" *ngIf="!displayOptionsVisible && !predatorOptionsVisible">
                    -> <a (click)="toggleOptions('Boid')" id="toggleBoidOptionsButton">Show Boids Options</a>
                </p>
                <p class="display-options" *ngIf="!boidOptionsVisible && !displayOptionsVisible">
                    -> <a (click)="toggleOptions('Predator')" id="togglePredatorOptionsButton">Show Predator Options</a>
                </p>
            </div>
            <div class="hidden-options" *ngIf="displayOptionsVisible" id="hiddenDisplayOptions">
                <p class="display-options">
                    Draw Quadtrees :
                    <input type="checkbox" [(ngModel)]="drawQuadtree" name="drawQuadtree">
                </p>
                <p class="display-options">
                    Count boids in Quadtrees :
                    <input type="checkbox" [(ngModel)]="displayQuadtreeCount" name="displayQuadtreeCount">
                </p>
                <p class="display-options">
                    Display Boids count :
                    <input type="checkbox" [(ngModel)]="displayBoidCount" name="displayBoidCount">
                </p>
                <p class="display-options">
                    Display FPS count :
                    <input type="checkbox" [(ngModel)]="displayFPSCount" name="displayFPSCount">
                </p>
            </div>
            <div class="hidden-options" *ngIf="boidOptionsVisible" id="hiddenBoidOptions">
                <p class="slider-p boids-options">
                    Alignment Radius in px :
                    <mat-slider [(ngModel)]="alignmentRadius" min="10" max="200" step="5" showTickMarks discrete
                    name="alignmentRadius" ngDefaultControl>
                    <input matSliderThumb [value]="alignmentRadius">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Cohesion Radius in px :
                    <mat-slider [(ngModel)]="cohesionRadius" min="10" max="200" step="5" showTickMarks discrete
                    name="cohesionRadius" ngDefaultControl>
                    <input matSliderThumb [value]="cohesionRadius">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Separation Radius in px :
                    <mat-slider [(ngModel)]="boidsSeparationRadius" min="10" max="200" step="5" showTickMarks discrete
                    name="boidsSeparationRadius" ngDefaultControl>
                    <input matSliderThumb [value]="boidsSeparationRadius">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Boids Reproduction Modif :
                    <mat-slider [(ngModel)]="boidReproductionModificator" min="-10" max="10" step="1" showTickMarks discrete
                    name="boidReproductionModificator" ngDefaultControl>
                    <input matSliderThumb [value]="boidReproductionModificator">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Boids Reproduction Chances % :
                    <mat-slider [(ngModel)]="boidReproductionChances" min="0" max="100" step="5" showTickMarks discrete
                    name="boidReproductionChances" ngDefaultControl>
                    <input matSliderThumb [value]="boidReproductionChances">
                    </mat-slider>
                </p>
                <p class="option boids-options">
                    Fleeing a Predator resets nesting time :
                    <input type="checkbox" [(ngModel)]="fleeReset" name="fleeReset">
                </p>
                <p class="slider-p boids-options">
                    Boids Evolution Chances % :
                    <mat-slider [(ngModel)]="boidEvolutionChances" min="0" max="100" step="5" showTickMarks discrete
                    name="boidEvolutionChances" ngDefaultControl>
                    <input matSliderThumb [value]="boidEvolutionChances">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Boids Max Evolution % :
                    <mat-slider [(ngModel)]="boidEvolutionCap" min="5" max="95" step="5" showTickMarks discrete
                    name="boidEvolutionCap" ngDefaultControl>
                    <input matSliderThumb [value]="boidEvolutionCap">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Predator Detection Radius :
                    <mat-slider [(ngModel)]="fleeRadius" min="20" max="300" step="20" showTickMarks discrete
                    name="fleeRadius" ngDefaultControl>
                    <input matSliderThumb [value]="fleeRadius">
                    </mat-slider>
                </p>
                <p class="slider-p boids-options">
                    Predator Fleeing Force :
                    <mat-slider [(ngModel)]="fleeFactor" min="-5" max="10" step="1" showTickMarks discrete
                    name="fleeFactor" ngDefaultControl>
                    <input matSliderThumb [value]="fleeFactor">
                    </mat-slider>
                </p>
            </div>
            <div class="hidden-options" *ngIf="predatorOptionsVisible" id="hiddenPredatorOptions">
                <p class="slider-p predators-options">
                    Predators Reproduction Modif :
                    <mat-slider [(ngModel)]="predatorReproductionModificator" min="-10" max="10" step="1" showTickMarks discrete
                    name="predatorReproductionModificator" ngDefaultControl>
                    <input matSliderThumb [value]="predatorReproductionModificator">
                    </mat-slider>
                </p>
                <p class="slider-p predators-options">
                    Predators Reproduction Chances % :
                    <mat-slider [(ngModel)]="predatorReproductionChances" min="0" max="100" step="5" showTickMarks discrete
                    name="predatorReproductionChances" ngDefaultControl>
                    <input matSliderThumb [value]="predatorReproductionChances">
                    </mat-slider>
                </p>
                <p class="slider-p predators-options">
                    Predator Evolution Chances % :
                    <mat-slider [(ngModel)]="predatorEvolutionChances" min="0" max="100" step="5" showTickMarks discrete
                    name="predatorEvolutionChances" ngDefaultControl>
                    <input matSliderThumb [value]="predatorEvolutionChances">
                    </mat-slider>
                </p>
                <p class="slider-p predators-options">
                    Predator Max Evolution % :
                    <mat-slider [(ngModel)]="predatorEvolutionCap" min="5" max="95" step="5" showTickMarks discrete
                    name="predatorEvolutionCap" ngDefaultControl>
                    <input matSliderThumb [value]="predatorEvolutionCap">
                    </mat-slider>
                </p>
                <p class="slider-p predators-options">
                    Separation Radius in px :
                    <mat-slider [(ngModel)]="predatorsSeparationRadius" min="10" max="200" step="5" showTickMarks discrete
                    name="predatorsSeparationRadius" ngDefaultControl>
                    <input matSliderThumb [value]="predatorsSeparationRadius">
                    </mat-slider>
                </p>
                <p class="slider-p predators-options">
                    Resistance to starvation :
                    <mat-slider [(ngModel)]="predatorStarvationModificator" min="-10" max="10" step="1" showTickMarks discrete
                    name="predatorStarvationModificator" ngDefaultControl>
                    <input matSliderThumb [value]="predatorStarvationModificator">
                    </mat-slider>
                </p>
            </div>  
        </form>
    </div>
</div>
 